<html>

<head>
    <title>Lobby</title>
    <style type="text/css">
    h1 {
        text-align: center;
    }

    </style>
</head>
<body>
    <h1>Welcome to Lobby</h1>
    <div style="float: left; width: 35%;">
        <a href="/logout">Logout</a>
        <a href="/newtable">Make New Table</a>
        <ul id="roomlist" type="none">
            <% for(let i = 0; i < tableNameList.length; i++) { %> 
                <li class = 'source' id = <%= i %> ><a href="/game/<%= tableNameList[i].name %>"><%= tableNameList[i].name %> </a></li>
            <% } %> 
        </ul>
    </div>
    <div style="float: left;">
        <div style="float: left;">
            <textarea id="chatArea" onfocus="javascript:blur();" style="width: 400px; height: 600px; cursor: default;"></textarea>
            <form id="chatForm">
                <input id="chatInput" autocomplete="off" type="text">
                <button type="submit">Send</button>
            </form>
        </div>
        <div style="float: left;">
            <select id="userList" style="width: 300px; height: 600px; display: block;" multiple>
                <% for(let i = 0; i < userList.length; i++) { %> 
                    <option value="<%= userList[i].id %>"><%= userList[i].username %></option>
                <% } %>
            </select>
            <form id="whisperForm">
                <input id="whisperInput" autocomplete="off" type="text">
                <button type="submit">Send Whisper</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var inputname = "<%= username %>";
        var socket = io('/lobby');
        socket.emit('lobby:newplayer', inputname);

        var chatForm = document.getElementById('chatForm');
        var whisperForm = document.getElementById('whisperForm');

        socket.on('lobby:emitChat', (msg, username) => {
            var chatArea = document.getElementById('chatArea');
            chatArea.append("\n" + username + " : " + msg);
        });

        socket.on('lobby:resUserList', (data) => {
            var userList = document.getElementById('userList');
            userList.innerHTML = '';
            userList.forEach((elem) => {
                userList.innerHTML += `<option value="${elem.id}">${elem.username}</option>`;
            });
        });

        chatForm.onsubmit = (e) => {
            e.preventDefault();
            var chatInput = document.getElementById('chatInput');

            // socket.emit으로 서버에 신호를 전달
            socket.emit('lobby:sendChat', chatInput.value, inputname);

            chatInput.value = "";
        };

        whisperForm.onsubmit = (e) => {
            e.preventDefault();
            let whisperInput = document.getElementById('whisperInput');
            let userList = document.getElementById('userList').options;
            let selectedUserList = new Array();
            for(let i = 0; userList.length; i++) {
                if(userList[i].selected) {
                    selectedUserList.push(userList[i].value);
                }
            }
            // socket.emit으로 서버에 신호를 전달
            socket.emit('lobby:sendWhisper', whisperInput.value, selectedUserList);

            whisperInput.value = "";
        };
    </script>
</body>
</html>