<html>

<head>
    <title>Lobby</title>
    <style type="text/css">
    h1 {
        text-align: center;
    }
    .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */                          
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <h1>Welcome to Lobby</h1>
    <div style="float: left; width: 35%;">
        <a href="/logout">Logout</a>
        <a href="/newroom">Make New Room</a>
        <ul id="roomlist" type="none">
            <% for(let i = 0; i < roomNameList.length; i++) { %> 
                <li class = 'source' id = <%= i %> ><%= roomNameList[i].name %><a href="/game/<%= roomNameList[i].name %>">Join</a></li>
            <% } %> 
        </ul>
    </div>
    <div style="float: left;">
        <div style="float: left;">
            <textarea id="chatArea" onfocus="javascript:blur();" style="width: 400px; height: 600px; cursor: default;"></textarea>
            <form id="chatForm">
                <input id="chatInput" autocomplete="off" type="text">
                <button type="submit">Send</button>
            </form>
        </div>
        <div style="float: left;">
            <ul id="userlist">
                <% for(let i = 0; i < userList.length; i++) { %> 
                    <li ><%= userList[i].username %><button onclick="getUserData('<%= userList[i].username %>')" >Show Data</button><button onclick="whisper('<%= userList[i].username %>')" >Whisper</button></li>
                <% } %>
            </ul>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="userdata">

        </div>
      </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var inputname = "<%= username %>";
        var socket = io('/lobby');
        socket.emit('lobby:newplayer', inputname);

        var chatForm = document.getElementById('chatForm');
        var whisperForm = document.getElementById('whisperForm');

        var modal = document.getElementById('myModal');
 
        // Get the <span> element that closes the modal
        var modalspan = document.getElementsByClassName("close")[0];
 

 
        // When the user clicks on <span> (x), close the modal
        modalspan.onclick = function() {
            modal.style.display = "none";
            var userData = document.getElementById('userdata');
            userData.innerHTML = '';
        }
 
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                var userData = document.getElementById('userdata');
                userData.innerHTML = '';
            }
        }

        function getUserData(username) {
            modal.style.display = "block";
            console.log(username);
            socket.emit('lobby:reqUserData', username);
        }

        function whisper(username) {
            modal.style.display = "none";
            var userData = document.getElementById('userdata');
            userData.innerHTML = '';
            var chatInput = document.getElementById('chatInput');
            chatInput.value = username + '$$:';
        }

        function closeModal() {
            modal.style.display = "none";
            var userData = document.getElementById('userdata');
            userData.innerHTML = '';
        }


        socket.on('lobby:emitChat', (msg, username) => {
            var chatArea = document.getElementById('chatArea');
            chatArea.append("\n" + username + " : " + msg);
        });

        socket.on('lobby:resUserList', (data) => {
            var userList = document.getElementById('userList');
            userList.innerHTML = '';
            userList.forEach((elem) => {
                userList.innerHTML += `<option value="${elem.id}">${elem.username}</option>`;
            });
        });

        socket.on('lobby:resUserData', (data) => {
            var userData = document.getElementById('userdata');
            console.log(data);
            userData.innerHTML = `
                <p>User name : ${data.username}</p>
                <p>User email : ${data.email}</p>
                <p>Win : ${data.win}</p>
                <p>Loss : ${data.loss}</p>
                <p>Draw : ${data.draw}</p>
                <p>Last Login : ${data.last_connection}</p>
                <button onclick="whisper('${data.username}')">Whisper</button>
            `;
        });

        socket.on('lobby:invite', (username, roomname) => {
            var userData = document.getElementById('userdata');
            console.log(data);
            userData.innerHTML = `
                <p>User name : ${username}</p>
                <p>Invite you to </p>
                <button><a href="/game/${roomname}">Accept Invite</a></button>
                <button onclick="closeModal()">Cancel</button>
            `;
        });


        chatForm.onsubmit = (e) => {
            e.preventDefault();
            var chatInput = document.getElementById('chatInput');

            // socket.emit으로 서버에 신호를 전달
            socket.emit('lobby:sendChat', chatInput.value);

            chatInput.value = "";
        };
    </script>
</body>
</html>